/* ============================== */
/* REUSABLE COMPONENTS */
/* ============================== */ 

.container{
    max-width: 117rem;
    margin: 0 auto;
    overflow: visible;
    padding: 1rem 0;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-items{
    justify-content: space-between;
}

.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title{
    color: rgb(86, 125, 244);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.6rem;

}

.sub-title{
    color: rgb(36, 36, 36);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 3.6rem;
    margin-top: 1rem;

}

.details{
    color: rgb(36, 36, 36);
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0 34rem;
}

.card{
    width: 6rem;
    height: 6rem;
    background-color: rgb(255, 255, 255);
    color: #333;
    border-radius: .4rem;
    box-shadow: 0 .3rem 1rem rgba(0,0,0,0.2);
    padding: 1.8rem;

}

/* BUTTON */

.btn:link,
.btn:visited,
.btn{
    background: rgb(86, 125, 244);
    border-radius: 5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.8rem 4rem;
    display: inline-block;
    font-weight: 400;
    font-size: 1.5rem;
    cursor: pointer;

}

.btn:hover{
    transform: scale(.98);
}

.text-center{
    text-align: center;
    margin-top: 8rem;
}

.text-left{
    text-align: left;
}

.watermark{
    color: #f0eff2;
    position: relative;
    font-weight: 700;
    font-size: 11.6rem;
    z-index: 22;
    top:3rem;
    right: 2rem;
}

